
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');


/* Default Variables */
:root{
    --dark-color: #000000;
    --primary-color: #067BC2;
    --secondary-color: #ECC30B;
    --light-color: #FFFFFF; 

    --main-font-family: 'Roboto', Helvetica, Arial , sans-serif;
    --second-font-family: 'Public Sans','Roboto', Helvetica, Arial  sans-serif;

    --h1-font-size: min(max(56px, 6.6667vw), 96px);
    --h2-font-size: min(max(48px, 6.25vw), 90px);
    --h3-font-size: min(max(28px, 3.3333vw), 48px);
    --h4-font-size: min(max(24px, 2.5vw), 36px);
    --h5-font-size: min(max(22px, 1.9444vw), 30px);
    --sub-heading-font-size: 24px;
    --body-text-font-size: 18px;
    --small-text-font-size: 8px;
}

html{
    scroll-behavior: smooth!important;
    overflow-x: hidden;
}

body {  
    background-color: #ffffff;
    font-family: var(--main-font-family);
    line-height: 1.166667;
    color:  var(--light-color);
    position: relative;
    font-size: var(--body-text-font-size);
    overflow-x: hidden;
}

h1 {
    font-size: var(--h1-font-size);
}
h2 {
    font-size: var(--h2-font-size);
}
h3 {
    font-size: var(--h3-font-size);
}

h4{
    font-size: var(--h4-font-size);
}
h5 {
    font-size: var(--h5-font-size);
}
h6 {
    font-size: var(--sub-heading-font-size);
}
.btn-dark,
.bg-dark{
    background-color: var(--dark-color)!important;
}
.text-dark{
    color: var(--dark-color)!important;
}

.heading{
 font-weight: bold;
 letter-spacing: -0.05em;
}

.light-heading{
    font-weight: 500;
    letter-spacing: -0.05em;
}

.navbar-brand{
    font-size: 48px;
}

.navbar-brand span{
    font-size: 24px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active{
color: var(--secondary-color)!important;
}

.home-container{
    background-color: var(--secondary-color);
}

.home-container .container-fluid{
    max-width: 1440px!important;
}

.hero-bg{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)) , url(/assets/img/png/hero.png) center center;
    background-size: cover;
    padding: 78px 0px 86px 0px;
}

.clock{
    font-size: min(max(56px, 5.5556vw), 80px);
}

.clock-slot{
    display: inline-flex;
    flex-direction: column;
}

.clock-slot label {
    font-family: var(--second-font-family);
font-size: 13px;
text-align: center;
}

.clock-slot > span {
    font-weight: 300;
    letter-spacing: -0.055em;
}

#signupForm{
  max-width: 371px;
}

.form-control {
    display: block;
    width: 100%;
    height: 45px;
    /* height: calc(1.5em + .75rem + 2px); */
    padding: .375rem .75rem;
    line-height: 1.5;
    color: var(--light-color);
    background-color: transparent;
    background-clip: padding-box;
    border: 5px solid var(--light-color);
    border-radius: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control::placeholder{
    font-family: var(--second-font-family);
font-style: italic;
color: var(--light-color);
font-size: 14px;
}

.form-control:focus {
    color: var(--light-color);
    background-color:transparent;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

#signupForm label:not(.custom-control-label){
    display: inline-block;
    margin-bottom: 3px;
    color: var(--light-color);
    font-family: var(--second-font-family);
font-weight: 600;
margin-left: 24px;
}
.custom-select {
    width: 100%;
    height: 45px;
    /* height: calc(1.5em + .75rem + 2px); */
    padding: .375rem 1.75rem .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--light-color);
    /* background: #fff url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) no-repeat right .75rem center/8px 10px; */
     background: #fff url(../img/svg/select-arrow.svg) no-repeat right .75rem center/8px 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 5px solid var(--light-color);
}

.custom-control-label::after {
    position: absolute;
    top: -1.5px;
    left: -1.5rem;
    display: block;
    width: 25px;
    height: 25px;
    content: "";
    background: no-repeat 50%/50% 50%;
    
}

.custom-checkbox .custom-control-label::before {
    border-radius: 5px;
}

.custom-control-label span{
    color: var(--light-color);
    margin-left: 23px;
    font-family: var(--second-font-family);
    font-weight: 600;
}

.custom-control-label::before {
    position: absolute;
    top: -1.5px;
    left: -1.5rem;
    display: block;
    width: 25px;
    height: 25px;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: 5px solid #000000;
    border-radius: 5px;
}

.submit-btn{
    border-radius: 10px;
    border: 3px solid var(--light-color);
}

.submit-btn:hover{
    transform: scale(1.025);
    border: 3px solid var(--light-color);
    transition: all linear 0.25s;
}

.about{
    background-color: var(--primary-color);
}

.info-card{
    max-width: 316px;
    min-height: 501px;
    border: 11px solid #FFFFFF;
    border-radius: 30px;
}

.testimonial-card{
    background: var(--dark-color);
border-radius: 22px;

}

.testimonial-card:not(:first-of-type){
    margin-left: 40px
}

.testimonial-title{
    font-weight: 500;
}

.slider-prev,
.slider-next{
    background-color: var(--secondary-color);
    min-width: 50px;
    width: 7vw;
    min-height: 50px;
    height: 7vw;
    border-radius: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    z-index: 1;
    opacity: 0.4;
    flex: none;
    background-size: 50% 50%;
}

.slider-contents:hover .slider-prev,
.slider-contents:hover .slider-next {
    opacity: 1;
    transition: opacity linear 0.25s;
 
}

.slider-prev:hover,
.slider-next:hover{
    transform: scale(1.06);
    transition: transform li6near 0.25s;
}

.slider-prev:focus,
.slider-next:focus{
    outline: none
}

.slider-prev{
    background-image: url('../img/svg/prevBtn.svg');
    margin-right: -35px;
}
.slider-next{
    background-image: url('../img/svg/nextBtn.svg');
    margin-left: -35px;
}

.team-card {
    padding: 0 8px;
}

.team-card img{
    border-radius: 33px;
}

.contact{
    font-size: var(--sub-heading-font-size);
    font-family: var(--second-font-family);
}

.contact .nav-link{
    color: var(--light-color);
}

.copyright{
    font-family: var(--second-font-family);
    letter-spacing: 0.02em;
}

@media (max-width:767px) {
    :root{
        --h1-font-size: min(max(36px, 8.6956vw), 56px);
        --h2-font-size: min(max(30px,  8.6956vw), 48px);
        --h3-font-size: min(max(28px, 3.3333vw), 48px);
        --h4-font-size: min(max(24px, 8.6956vw), 42px);
        --h5-font-size: min(max(18px, 4.3478vw), 28px);
        --sub-heading-font-size: min(max(16px, 5.797vw), 28px);
        --body-text-font-size: min(max(14px,3.3816vw), 18px);
        --small-text-font-size: 8px;
    }

    .hero-bg{
        padding: 0px 0px 40px 0px;
    }

    .heading-span{
        padding: 8px 12.077vw 8px 2.2895vw;
        width: 100%;
        margin-bottom: -2px;
    } 

    .middle-span{
        width: 92.89%;
        margin-left: 2.8985vw;
        padding: 8px calc(12.077vw - 2.8985vw) 8px 0px ;
    }
    
    .bottom-span{
        margin-left: 0px;
        padding: 8px 12.077vw;
    }

    .clock{
        overflow-x: visible;
    font-size: min(max(36px, 11.594vw), 56px);
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    }
    
     .info-card{
        min-width: 241px;
        min-height: 381px;
        border: 11px solid #FFFFFF;
        border-radius: 30px;
    }
    
    
    .info-card:not(:first-of-type){
        margin-top: 40px;
    }

    .testimonial-card{
        background: var(--dark-color);
    border-radius: 22px;
    max-width: 90vw;
    /* height: 414px;
    min-width: 515px;     */
    }

   .testimonial-card img{
         width: 50%;
    }

    .testimonial-card > div>img:only-child{
        width: 100%;
    }

    .testimonial-card h3{
        font-size: var(--h5-font-size);
    }
    .testimonial-card h6{
        font-size: var(--body-text-font-size);
    }

    .team-card {
        padding: 0 12vw;
    }

    .team-card:not(:first-of-type){
        margin-top: 50px
    }
    

 }


 
 @media (max-width:992px) { 
  
 }


