
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');


/* Default Variables */
:root{
    --dark-color: #000000;
    --primary-color: #067BC2;
    --secondary-color: #ECC30B;
    --light-color: #FFFFFF; 

    --main-font-family: 'Roboto', Helvetica, Arial , sans-serif;
    --second-font-family: 'Public Sans','Roboto', Helvetica, Arial  sans-serif;

    --h1-font-size: min(max(56px, 6.6667vw), 96px);
    --h2-font-size: min(max(48px, 4.8611vw), 70px);
    --h3-font-size: min(max(28px, 3.3333vw), 48px);
    --h4-font-size: min(max(24px, 2.5vw), 36px);
    --h5-font-size: 30px;
    --sub-heading-font-size: 24px;
    --body-text-font-size: 18px;
    --small-text-font-size: 8px;
}

html{
    scroll-behavior: smooth!important;
    overflow-x: hidden;
}

body {  
    background-color: #ffffff;
    font-family: var(--main-font-family);
    line-height: 1.166667;
    color:  var(--light-color);
    position: relative;
    font-size: var(--body-text-font-size);
    overflow-x: hidden;
}

h1 {
    font-size: var(--h1-font-size);
}
h2 {
    font-size: var(--h2-font-size);
}
h3 {
    font-size: var(--h3-font-size);
}

h4{
    font-size: var(--h4-font-size);
}
h5 {
    font-size: var(--h5-font-size);
}
h6 {
    font-size: var(--sub-heading-font-size);
}

.bg-dark{
    background-color: var(--dark-color)!important;
}

.heading{
 font-weight: bold;
 letter-spacing: -0.05em;
}

.light-heading{
    font-weight: 500;
    letter-spacing: -0.05em;
}

.navbar-brand{
    font-size: var(--h3-font-size);
}

.navbar-brand span{
    font-size: var(--sub-heading-font-size);
}

.home-container{
    background-color: var(--secondary-color);
    padding: 78px 0px 120px 0px;
}

.heading-span{
    text-align: right;
    padding: 8px 9vw;
    width: 100%;
    display: inline-block;
    margin-bottom: -2px;
}

.middle-span{
    margin-left: -6.38vw;
    padding-right: calc(9vw - 6.38vw);
}

.bottom-span{
    margin-left: 92px;
    padding-right: calc(9vw + 92px);
}

.countdown{
    margin-left: 92px;
    padding-left: 9vw;
}

.clock{
    font-size: min(max(56px, 5.5556vw), 80px);
}

.clock-slot{
    display: inline-flex;
    flex-direction: column;
}

.clock-slot label {
    font-family: var(--second-font-family);
font-size: 13px;
text-align: center;
}

.clock-slot > span {
    font-weight: 300;
    letter-spacing: -0.055em;
}

#signupForm{
    width: 371px;
}

.form-control {
    display: block;
    width: 100%;
    height: 45px;
    /* height: calc(1.5em + .75rem + 2px); */
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #000000;
    background-color: transparent;
    background-clip: padding-box;
    border: 5px solid #000000;
    border-radius: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control::placeholder{
    font-family: var(--second-font-family);
font-style: italic;
color: var(--dark-color);
font-size: 14px;
}

.form-control:focus {
    color: #000000;
    background-color:transparent;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

#signupForm label{
    display: inline-block;
    margin-bottom: 3px;
    color: var(--dark-color);
    font-family: var(--second-font-family);
font-weight: 600;
margin-left: 24px;
}
.custom-select {
    width: 100%;
    height: 45px;
    /* height: calc(1.5em + .75rem + 2px); */
    padding: .375rem 1.75rem .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    /* background: #fff url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e) no-repeat right .75rem center/8px 10px; */
     background: #fff url(../img/svg/select-arrow.svg) no-repeat right .75rem center/8px 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 5px solid #000000;
}


.form-control ~ .btn{
    border-radius: 10px;
}

.about{
    background-color: var(--primary-color);
}

.info-card{
    width: 316px;
    height: 501px;
    border: 11px solid #FFFFFF;
    border-radius: 30px;
}

.testimonial-card{
    background: var(--dark-color);
border-radius: 22px;
height: 858px;
min-width: 1143px;

}

.testimonial-card:not(:first-of-type){
    margin-left: 40px
}

.testimonial-title{
    font-weight: 500;
}

.team-card {
    padding: 0 8px;
}

.copyright{
    font-family: var(--second-font-family);
    letter-spacing: 0.02em;
}